{{with .Command -}}
{{yellow "Name:"}}
	{{.HelpName}} - {{.Usage}}

{{yellow "Usage:"}}
	{{insertString .HelpName "[global flags]" 1 | blue}}{{if .VisibleFlags}} {{blue "[command flags]"}}{{end}} {{blue "<subcommand>"}}{{if .ArgsUsage}} {{blue .ArgsUsage}}{{else}} {{blue "[arguments...]"}}{{end}}
	
{{- if .VisibleCommands}}

{{yellow "Subcommands:"}}
{{- range .VisibleCategories -}}
{{if .Name}}
{{.Name}}:{{end}}
{{- range .VisibleCommands}}
	{{green .Name}}
	{{- if .Aliases}} ({{if eq (len .Aliases) 1}}alias:{{else}}aliases:{{end}}
		{{- range $index, $alias := .Aliases}}
			{{- if $index}},{{end}} {{green $alias}}
		{{- end -}}	
	){{end -}}
{{end}}{{end}}{{end}}
	
{{- if .VisibleFlags}}

{{yellow "Command Flags:"}}
{{- range .VisibleFlags}}
	{{.}}
{{- end}}{{end}}{{end -}}

{{- if .GlobalFlags}}

{{yellow "Global Flags:"}}
{{- range .GlobalFlags}}
	{{.}}
{{- end}}{{end}}
